<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChariotInfoArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>企业号战车</string>
			<key>desc</key>
			<string>企业号为实弹型战车，拥有3个能量槽，是所需资源最少的战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>发现号战车</string>
			<key>desc</key>
			<string>发现号为激光型战车，拥有4个能量槽，是战争初期常用战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>勇气号战车</string>
			<key>desc</key>
			<string>勇气号为电磁型战车，拥有5个能量槽，是电磁时代标志性战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>奋进号战车</string>
			<key>desc</key>
			<string>奋进号为暗能型战车，拥有5个能量槽，是暗能时代的基础战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>思索者号战车</string>
			<key>desc</key>
			<string>思索者号为暗能型战车，拥有5个能量槽，是暗能时代初期的经典战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>引导者号战车</string>
			<key>desc</key>
			<string>引导者号为暗能型战车，拥有6个能量槽，是外观设计最独特的战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>先驱者号战车</string>
			<key>desc</key>
			<string>先驱者号为暗能型战车，拥有6个能量槽，是战车技术飞跃的成果。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>探索者号战车</string>
			<key>desc</key>
			<string>探索者号为暗能型战车，拥有7个能量槽，是暗能时代战车中的宠儿。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>挑战者号战车</string>
			<key>desc</key>
			<string>挑战者号为暗能型战车，拥有8个能量槽，是被评为性价比最高的战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>曙光号战车</string>
			<key>desc</key>
			<string>曙光号为暗能型战车，拥有8个能量槽，是一款被称为骨灰级的战车。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>进化号战车</string>
			<key>desc</key>
			<string>进化号为暗能型战车，拥有9个能量槽，是能量槽最多的战车之一。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>辉煌号战车</string>
			<key>desc</key>
			<string>辉煌号为暗能型战车，拥有9个能量槽。是科技达到顶峰之作！</string>
		</dict>
	</array>
	<key>TankPartInfoArray</key>
	<array>
		<array>
			<string>重型战舰炮</string>
			<string>PackageTankPart1.png</string>
			<array>
				<string>重型战舰炮1型为实弹攻击类挂件，研发于机械时代！</string>
				<string>重型战舰炮2型为实弹攻击类挂件，研发于机械时代！</string>
				<string>重型战舰炮3型为实弹攻击类挂件，研发于机械时代！</string>
				<string>重型战舰炮4型为实弹攻击类挂件，研发于机械时代！</string>
				<string>重型战舰炮5型为实弹攻击类挂件，研发于机械时代！</string>
				<string>重型战舰炮6型为实弹攻击类挂件，研发于机械时代！</string>
			</array>
		</array>
		<array>
			<string>大型战舰炮</string>
			<string>PackageTankPart1.png</string>
			<array>
				<string>大型战舰炮1型为实弹攻击类挂件，研发于机械时代！</string>
				<string>大型战舰炮2型为实弹攻击类挂件，研发于机械时代！</string>
				<string>大型战舰炮3型为实弹攻击类挂件，研发于机械时代！</string>
				<string>大型战舰炮4型为实弹攻击类挂件，研发于机械时代！</string>
				<string>大型战舰炮5型为实弹攻击类挂件，研发于机械时代！</string>
				<string>大型战舰炮6型为实弹攻击类挂件，研发于机械时代！</string>
			</array>
		</array>
		<array>
			<string>速射战舰炮</string>
			<string>PackageTankPart1.png</string>
			<array>
				<string>速射战舰炮1型为实弹攻击类挂件，研发于机械时代！</string>
				<string>速射战舰炮2型为实弹攻击类挂件，研发于机械时代！</string>
				<string>速射战舰炮3型为实弹攻击类挂件，研发于机械时代！</string>
				<string>速射战舰炮4型为实弹攻击类挂件，研发于机械时代！</string>
				<string>速射战舰炮5型为实弹攻击类挂件，研发于机械时代！</string>
				<string>速射战舰炮6型为实弹攻击类挂件，研发于机械时代！</string>
			</array>
		</array>
		<array>
			<string>重型激光炮</string>
			<string>PackageTankPart2.png</string>
			<array>
				<string>重型激光炮1型为激光攻击类挂件，研发于激光时代！</string>
				<string>重型激光炮2型为激光攻击类挂件，研发于激光时代！</string>
				<string>重型激光炮3型为激光攻击类挂件，研发于激光时代！</string>
				<string>重型激光炮4型为激光攻击类挂件，研发于激光时代！</string>
				<string>重型激光炮5型为激光攻击类挂件，研发于激光时代！</string>
				<string>重型激光炮6型为激光攻击类挂件，研发于激光时代！</string>
			</array>
		</array>
		<array>
			<string>大型激光炮</string>
			<string>PackageTankPart2.png</string>
			<array>
				<string>大型激光炮1型为激光攻击类挂件，研发于激光时代！</string>
				<string>大型激光炮2型为激光攻击类挂件，研发于激光时代！</string>
				<string>大型激光炮3型为激光攻击类挂件，研发于激光时代！</string>
				<string>大型激光炮4型为激光攻击类挂件，研发于激光时代！</string>
				<string>大型激光炮5型为激光攻击类挂件，研发于激光时代！</string>
				<string>大型激光炮6型为激光攻击类挂件，研发于激光时代！</string>
			</array>
		</array>
		<array>
			<string>速射激光炮</string>
			<string>PackageTankPart2.png</string>
			<array>
				<string>速射激光炮1型为激光攻击类挂件，研发于激光时代！</string>
				<string>速射激光炮2型为激光攻击类挂件，研发于激光时代！</string>
				<string>速射激光炮3型为激光攻击类挂件，研发于激光时代！</string>
				<string>速射激光炮4型为激光攻击类挂件，研发于激光时代！</string>
				<string>速射激光炮5型为激光攻击类挂件，研发于激光时代！</string>
				<string>速射激光炮6型为激光攻击类挂件，研发于激光时代！</string>
			</array>
		</array>
		<array>
			<string>重型电磁炮</string>
			<string>PackageTankPart3.png</string>
			<array>
				<string>重型电磁炮1型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>重型电磁炮2型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>重型电磁炮3型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>重型电磁炮4型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>重型电磁炮5型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>重型电磁炮6型为电磁攻击类挂件，研发于电磁时代！</string>
			</array>
		</array>
		<array>
			<string>大型电磁炮</string>
			<string>PackageTankPart3.png</string>
			<array>
				<string>大型电磁炮1型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>大型电磁炮2型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>大型电磁炮3型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>大型电磁炮4型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>大型电磁炮5型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>大型电磁炮6型为电磁攻击类挂件，研发于电磁时代！</string>
			</array>
		</array>
		<array>
			<string>速射电磁炮</string>
			<string>PackageTankPart3.png</string>
			<array>
				<string>速射电磁炮1型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>速射电磁炮2型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>速射电磁炮3型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>速射电磁炮4型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>速射电磁炮5型为电磁攻击类挂件，研发于电磁时代！</string>
				<string>速射电磁炮6型为电磁攻击类挂件，研发于电磁时代！</string>
			</array>
		</array>
		<array>
			<string>重型暗能炮</string>
			<string>PackageTankPart4.png</string>
			<array>
				<string>重型暗能炮1型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>重型暗能炮2型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>重型暗能炮3型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>重型暗能炮4型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>重型暗能炮5型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>重型暗能炮6型为暗能攻击类挂件，研发于暗能时代！</string>
			</array>
		</array>
		<array>
			<string>大型暗能炮</string>
			<string>PackageTankPart4.png</string>
			<array>
				<string>大型暗能炮1型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>大型暗能炮2型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>大型暗能炮3型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>大型暗能炮4型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>大型暗能炮5型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>大型暗能炮6型为暗能攻击类挂件，研发于暗能时代！</string>
			</array>
		</array>
		<array>
			<string>速射暗能炮</string>
			<string>PackageTankPart4.png</string>
			<array>
				<string>速射暗能炮1型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>速射暗能炮2型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>速射暗能炮3型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>速射暗能炮4型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>速射暗能炮5型为暗能攻击类挂件，研发于暗能时代！</string>
				<string>速射暗能炮6型为暗能攻击类挂件，研发于暗能时代！</string>
			</array>
		</array>
		<array>
			<string>复合装甲</string>
			<string>PackageTankPart5.png</string>
			<array>
				<string>复合装甲1型为实弹防御类挂件，研发于机械时代！</string>
				<string>复合装甲2型为实弹防御类挂件，研发于机械时代！</string>
				<string>复合装甲3型为实弹防御类挂件，研发于机械时代！</string>
				<string>复合装甲4型为实弹防御类挂件，研发于机械时代！</string>
				<string>复合装甲5型为实弹防御类挂件，研发于机械时代！</string>
				<string>复合装甲6型为实弹防御类挂件，研发于机械时代！</string>
			</array>
		</array>
		<array>
			<string>反应装甲</string>
			<string>PackageTankPart5.png</string>
			<array>
				<string>反应装甲1型为实弹防御类挂件，研发于机械时代！</string>
				<string>反应装甲2型为实弹防御类挂件，研发于机械时代！</string>
				<string>反应装甲3型为实弹防御类挂件，研发于机械时代！</string>
				<string>反应装甲4型为实弹防御类挂件，研发于机械时代！</string>
				<string>反应装甲5型为实弹防御类挂件，研发于机械时代！</string>
				<string>反应装甲6型为实弹防御类挂件，研发于机械时代！</string>
			</array>
		</array>
		<array>
			<string>反射装甲</string>
			<string>PackageTankPart6.png</string>
			<array>
				<string>反射装甲1型为激光防御类挂件，研发于激光时代！</string>
				<string>反射装甲2型为激光防御类挂件，研发于激光时代！</string>
				<string>反射装甲3型为激光防御类挂件，研发于激光时代！</string>
				<string>反射装甲4型为激光防御类挂件，研发于激光时代！</string>
				<string>反射装甲5型为激光防御类挂件，研发于激光时代！</string>
				<string>反射装甲6型为激光防御类挂件，研发于激光时代！</string>
			</array>
		</array>
		<array>
			<string>衍射装甲</string>
			<string>PackageTankPart6.png</string>
			<array>
				<string>衍射装甲1型为激光防御类挂件，研发于激光时代！</string>
				<string>衍射装甲2型为激光防御类挂件，研发于激光时代！</string>
				<string>衍射装甲3型为激光防御类挂件，研发于激光时代！</string>
				<string>衍射装甲4型为激光防御类挂件，研发于激光时代！</string>
				<string>衍射装甲5型为激光防御类挂件，研发于激光时代！</string>
				<string>衍射装甲6型为激光防御类挂件，研发于激光时代！</string>
			</array>
		</array>
		<array>
			<string>屏蔽装甲</string>
			<string>PackageTankPart7.png</string>
			<array>
				<string>屏蔽装甲1型为电磁防御类挂件，研发于电磁时代！</string>
				<string>屏蔽装甲2型为电磁防御类挂件，研发于电磁时代！</string>
				<string>屏蔽装甲3型为电磁防御类挂件，研发于电磁时代！</string>
				<string>屏蔽装甲4型为电磁防御类挂件，研发于电磁时代！</string>
				<string>屏蔽装甲5型为电磁防御类挂件，研发于电磁时代！</string>
				<string>屏蔽装甲6型为电磁防御类挂件，研发于电磁时代！</string>
			</array>
		</array>
		<array>
			<string>干扰装甲</string>
			<string>PackageTankPart7.png</string>
			<array>
				<string>干扰装甲1型为中型防御装甲，主要用于电磁防御！</string>
				<string>干扰装甲2型为中型防御装甲，主要用于电磁防御！</string>
				<string>干扰装甲3型为中型防御装甲，主要用于电磁防御！</string>
				<string>干扰装甲4型为中型防御装甲，主要用于电磁防御！</string>
				<string>干扰装甲5型为中型防御装甲，主要用于电磁防御！</string>
				<string>干扰装甲6型为中型防御装甲，主要用于电磁防御！</string>
			</array>
		</array>
		<array>
			<string>反物质装甲</string>
			<string>PackageTankPart8.png</string>
			<array>
				<string>反物质装甲1型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反物质装甲2型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反物质装甲3型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反物质装甲4型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反物质装甲5型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反物质装甲6型为暗能防御类挂件，研发于暗能时代！</string>
			</array>
		</array>
		<array>
			<string>反引力装甲</string>
			<string>PackageTankPart8.png</string>
			<array>
				<string>反引力装甲1型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反引力装甲2型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反引力装甲3型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反引力装甲4型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反引力装甲5型为暗能防御类挂件，研发于暗能时代！</string>
				<string>反引力装甲6型为暗能防御类挂件，研发于暗能时代！</string>
			</array>
		</array>
		<array>
			<string>高效能量发生器</string>
			<string>PackageTankPart9.png</string>
			<array>
				<string>高效能量发生器1型为小型辅助类挂件，主要用于增加战车的装在能量！</string>
				<string>高效能量发生器2型为小型辅助类挂件，主要用于增加战车的装在能量！</string>
				<string>高效能量发生器3型为小型辅助类挂件，主要用于增加战车的装在能量！</string>
				<string>高效能量发生器4型为小型辅助类挂件，主要用于增加战车的装在能量！</string>
				<string>高效能量发生器5型为小型辅助类挂件，主要用于增加战车的装在能量！</string>
				<string>高效能量发生器6型为小型辅助类挂件，主要用于增加战车的装在能量！</string>
			</array>
		</array>
		<array>
			<string>能量护盾</string>
			<string>PackageTankPart11.png</string>
			<array>
				<string>能量护盾1型属于中型辅助类挂件，主要是增加战车能量防御！</string>
				<string>能量护盾2型属于中型辅助类挂件，主要是增加战车能量防御！</string>
				<string>能量护盾3型属于中型辅助类挂件，主要是增加战车能量防御！</string>
				<string>能量护盾4型属于中型辅助类挂件，主要是增加战车能量防御！</string>
				<string>能量护盾5型属于中型辅助类挂件，主要是增加战车能量防御！</string>
				<string>能量护盾6型属于中型辅助类挂件，主要是增加战车能量防御！</string>
			</array>
		</array>
		<array>
			<string>高能引擎</string>
			<string>PackageTankPart10.png</string>
			<array>
				<string>高能引擎1型为小型辅助类挂件，主要是把能量转换为推进力增加战车引擎动力的挂件！</string>
				<string>高能引擎2型为小型辅助类挂件，主要是把能量转换为推进力增加战车引擎动力的挂件！</string>
				<string>高能引擎3型为小型辅助类挂件，主要是把能量转换为推进力增加战车引擎动力的挂件！</string>
				<string>高能引擎4型为小型辅助类挂件，主要是把能量转换为推进力增加战车引擎动力的挂件！</string>
				<string>高能引擎5型为小型辅助类挂件，主要是把能量转换为推进力增加战车引擎动力的挂件！</string>
				<string>高能引擎6型为小型辅助类挂件，主要是把能量转换为推进力增加战车引擎动力的挂件！</string>
			</array>
		</array>
		<array>
			<string>转换增速仪</string>
			<string>PackageTankPart12.png</string>
			<array>
				<string>转换增速仪1型为中型辅助类挂件，主要功能为把暗能量进行转换为攻击速度。</string>
				<string>转换增速仪2型为中型辅助类挂件，主要功能为把暗能量进行转换为攻击速度。</string>
				<string>转换增速仪3型为中型辅助类挂件，主要功能为把暗能量进行转换为攻击速度。</string>
				<string>转换增速仪4型为中型辅助类挂件，主要功能为把暗能量进行转换为攻击速度。</string>
				<string>转换增速仪5型为中型辅助类挂件，主要功能为把暗能量进行转换为攻击速度。</string>
				<string>转换增速仪6型为中型辅助类挂件，主要功能为把暗能量进行转换为攻击速度。</string>
			</array>
		</array>
		<array>
			<string>智能战斗雷达</string>
			<string>PackageTankPart13.png</string>
			<array>
				<string>智能战斗雷达1型为小型辅助类挂件，进行战斗区域内的情况扫描以及增加战车有效攻击范围。</string>
				<string>智能战斗雷达2型为小型辅助类挂件，进行战斗区域内的情况扫描以及增加战车有效攻击范围。</string>
				<string>智能战斗雷达3型为小型辅助类挂件，进行战斗区域内的情况扫描以及增加战车有效攻击范围。</string>
				<string>智能战斗雷达4型为小型辅助类挂件，进行战斗区域内的情况扫描以及增加战车有效攻击范围。</string>
				<string>智能战斗雷达5型为小型辅助类挂件，进行战斗区域内的情况扫描以及增加战车有效攻击范围。</string>
				<string>智能战斗雷达6型为小型辅助类挂件，进行战斗区域内的情况扫描以及增加战车有效攻击范围。</string>
			</array>
		</array>
		<array>
			<string>自爆装置</string>
			<string>PackageTankPart14.png</string>
			<array>
				<string>自爆装置1型为小型自爆行挂件，以自伤而伤他人的方式进行攻击！</string>
				<string>自爆装置2型为小型自爆行挂件，以自伤而伤他人的方式进行攻击！</string>
				<string>自爆装置3型为小型自爆行挂件，以自伤而伤他人的方式进行攻击！</string>
				<string>自爆装置4型为小型自爆行挂件，以自伤而伤他人的方式进行攻击！</string>
				<string>自爆装置5型为小型自爆行挂件，以自伤而伤他人的方式进行攻击！</string>
				<string>自爆装置6型为小型自爆行挂件，以自伤而伤他人的方式进行攻击！</string>
			</array>
		</array>
	</array>
</dict>
</plist>
